<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<!-- Create a markdown cell with the title of the notebook -->
<h1> Data Science Tools and Ecosystem <h1>

<!-- Create a markdown cell for an introduction -->
In this notebook, Data Science Tools and Ecosystem are summarized.

<!--  Create a markdown cell to list data science languages. -->
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. java
4. SQL
5. C++

<!--  Create a markdown cell to list data science libraries -->
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot
3. Tensorflow
4. Creta
5. Numpy
6. Matplot

<!-- Create a markdown cell with a table of Data Science tools. -->
|Data Science Tools|
|---|
|Apache Hadoop|
|Airflow|
|Kibana|
|Model BD|
|Matlab|

<!-- Create a markdown cell introducing arithmetic expression examples. -->
### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
 # This will convert 200 minutes to hours by diving by 60

200/6

33.333333333333336

<!-- Insert a markdown cell to list Objectives. -->
__Objectives:__
* List popular languages for Data Science
* List popular tools for Data Science
* How to use Jupiter Notebooks
* List of popular libraries for Data Science

<!-- Create a markdown cell to indicate the Authorâ€™s name. -->
## Author
Srinivas Chenna